img {
    width: 300px;
    border-radius: 20px;
    margin-left: 40px;
}

header {
    background-color: pink;
}

nav {
    background-color: antiquewhite;
}

main {
    background-color: lightyellow;
}

.about {
    background-color: lightcyan;
}