html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01CC65;
}

body {
    width: 900px;
    height: 600px;
    background-color: #DDF4C5;
    border-radius: 3%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* 선택적: 그림자 효과 */
}

#start-screen {
    position: relative; /* #title 의 위치를 가운데가 아닌 왼쪽으로 조정하기 위함 */
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    position: absolute;
    top: 30px;
    left: 50px;
    margin: 0;
    font-size: 50px;
}


#start-apple {
    display: block;
    width: 300px;
    margin-top: 100px;
    /* box-shadow: 5px 5px 5px gray;    요소의 사각형 경계에 적용됨 */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)); /* 사과 모양을 따라 그림자 */
}

#start-button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;

    transition: transform 0.1s ease; /* 부드러운 전환 */
}

#start-button :active {
    transform: scale(0.9);  /* 사과 버튼을 클릭하면 크기가 작아짐 */
    opacity: 0.7;
}

#start-text {
    position: absolute; /* 이미지 위에 텍스트를 겹치게 */
    top: 70%; /* 세로 중앙 */
    left: 50%; /* 가로 중앙 */
    transform: translate(-50%, -50%); /* 정확한 중앙 정렬 */
    margin: 0;
    font-size: 85px;
    color: white;

    pointer-events: none;   /* 텍스트 클릭 방지 */
}

#start-button:active #start-text {
    transform: translate(-50%, -50%) scale(0.9);
}